@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "Roboto",sans-serif;
}

section{
    height: 100vh;
    
    scroll-snap-align: start;
}

h1{
    color: rgb(255, 255, 255);
}
span{
    font-weight: 300;
}

.one{
    background-color: rgb(6, 64, 255);
}


.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    margin: auto;
    padding: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links,
h1 {
    flex: 1;
}

/*cursor*/
.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
}